services:
  frontend:
    platform: linux/amd64
    image: sajibsv/grayson_frontend:latest
    container_name: grayson_frontend
    environment:
      - NEXT_PUBLIC_BASE_API=https://carbonengines.com/api
      - NEXT_PUBLIC_GOOGLE_CLIENT_ID=1074646902032-5ab3gkkggb7mrejjfnvr7ra65qos4o8s.apps.googleusercontent.com
    ports:
      - "3000:3000"
    restart: always
